{% extends "base.html.twig" %}
{% block title %}Лобби{% endblock %}
{% block content %}
    <div>
        <span>{{ userName }}</span>
    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
{% endblock %}