{% extends "base.html.twig" %}
{% block title %}Лобби{% endblock %}
{% block content %}
    <div>
    {% for userName in userNames %}
        <div>
            {{ userName }}
        </div>
    {% endfor %}
    </div>
    <form action="/quit_lobby">
        <input type="hidden" name="keyRoom" value="{{ keyRoom }}">
        <button type="submit">
            Выйти из Лобби
        </button>
    </form>
{% endblock %}