{% extends 'base.html.twig' %}
{% block title %}Вход	
{% endblock %}
{% block content %}

	<form action="/login_user">
		{% set error = error|default({}) %}
        {% if error %}     
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email">
		</div>
		<div>
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
		</div>
		<button type="submit">OK</button>
		<span>Нет аккаунта?</span>
		<a href="/register_form">Регистрация</a>
	</form>
	
{% endblock %}
